{{#d-modal-body rawTitle=(umd-modal-title)}}
{{cook-text (theme-i18n "warning_umc_modal.content")}}
{{!-- Display the Result return by the Markdownlint JS --}}
{{!-- {{cook-text (concat '\n```\n' model.umd_markdownlintResult.warningMessage '\n```\n')}} --}}
{{#each model.umd_markdownlintResult as |warningMsg|}}
    {{cook-text (concat  'Line ' warningMsg.lineNumber ': ' warningMsg.errorContext) }}
{{/each}}
<label for="umd_do-not-show-again" class="checkbox-label">
  {{input
  type="checkbox"
  id="umd_do-not-show-again"
  name="umd_do-not-show-again"
  checked=model.umd_shouldPermanentlyDismiss
  }}
  {{theme-i18n "warning_umc_modal.do_not_show_again"}}
</label>
<div class="action-buttons">
  {{d-button
  action=(action "goBackAndFix")
  icon="pencil-alt"
  tagName="button"
  class="btn-primary"
  label=(theme-prefix "warning_umc_modal.fix_post")
  }}
  {{d-button
  action=(action "ignoreAndProceed")
  tagName="button"
  label=(theme-prefix "warning_umc_modal.ignore_and_post_anyway")
  }}
</div>
{{/d-modal-body}}
